 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-form-1 {
  height: 230px;
  width: 1140px;
  margin: 22px auto 0;
}

.u-section-1 .u-input-1 {
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-1 .u-image-1 {
  width: 87px;
  height: 87px;
  margin: 41px auto 0 -29px;
}

.u-section-1 .u-text-1 {
  margin: -46px auto 0 73px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0 73px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 232px;
}

.u-section-1 .u-image-2 {
  width: 90px;
  height: 95px;
  margin: 30px auto 0 73px;
}

.u-section-1 .u-text-2 {
  margin: -58px auto 0 176px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 38px auto 0 335px;
}

.u-section-1 .u-btn-5 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -42px auto 60px 176px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-image-1 {
    margin-left: 119px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -45px;
    margin-left: 220px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 29px;
    margin-left: 220px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 180px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 25px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 324px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 49px;
    margin-left: 180px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 229px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 330px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 330px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 434px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 210px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38px;
    margin-left: 319px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -42px;
    margin-left: 420px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 420px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 22px;
    margin-left: 420px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -55px;
    margin-left: 468px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 300px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 420px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 63px;
    margin-left: 419px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -67px;
    margin-left: 476px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 476px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 400px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 520px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 506px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 400px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 490px;
    margin-left: auto;
  }
}