<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activitar | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">
            <div class="logo">
                <a >
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="top-social">
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="img/about-bread.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Latest Events</h2>
                        <div class="breadcrumb-controls">
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2> Our Events Locations</h2>
                    <p>List of all news and events that take place related to us</p>
                </div>
                <div class="row blog-gird">
                    <div class="grid-sizer"></div>
                
                    <!-- Image Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item large-item set-bg" data-setbg="img/blog/box.jpg" style="width: 100%; height: 50;">
                            <a class="blog-text">
                                <div class="categories">BOXING EVENT</div>
                                <h5>KSI VS LOGAN PAUL 2023/12/16 AT 10PM MENZAH1</h5>
                            </a>
                        </div>
                    </div>
                
                    <!-- Map Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2802.143192499356!2d10.185130496979358!3d36.838973484984066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                            1!3m3!1m2!1s0x12fd3521f4a679fd%3A0x69416f38c0fdffa2!2sStade%20Olympique%20d&#39;El%20Menzah!5e1!3m2!1sfr!2stn!4v1701252353757!5m2!1sfr!2stn"
                            width="600" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row blog-gird">
            <div class="grid-sizer"></div>

        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row blog-gird">
                    <div class="grid-sizer"></div>
                
                    <!-- Image Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item small-item set-bg" data-setbg="img/blog/run.jpg"style="width: 100%; height: 100;">
                            <a  class="blog-text">
                                <div class="categories">MARATHON EVENT</div>
                                <h5>2023/12/18 AT 8AM MENZAH1</h5>
                            </a>
                        </div>
                    </div>
                
                    <!-- Map Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2802.143192499356!2d10.185130496979358!3d36.838973484984066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                            1!3m3!1m2!1s0x12fd3521f4a679fd%3A0x69416f38c0fdffa2!2sStade%20Olympique%20d&#39;El%20Menzah!5e1!3m2!1sfr!2stn!4v1701252353757!5m2!1sfr!2stn"
                            width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row blog-gird">
            <div class="grid-sizer"></div>

        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row blog-gird">
                    <div class="grid-sizer"></div>
                
                    <!-- Image Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item large-item xls-large set-bg" data-setbg="img/blog/blog-page-2.jpg" style="width: 100%; height: 100;">
                            <a class="blog-text">
                                <div class="categories">CROSSFIT EVENT</div>
                                <h5>2023/12/17 AT 9AM MANAR1</h5>
                            </a>
                        </div>
                    </div>
                
                    <!-- Map Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6328.588287193719!2d10.141796796832331!3d36.832876901331915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                        1!3m3!1m2!1s0x12fd3312d9dfed6f%3A0x2b3e065a01842e73!2sEl%20Manar%201%2C%20Tunis!5e1!3m2!1sfr!2stn!4v1701271345619!5m2!1sfr!2stn" 
                        width="600" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row blog-gird">
            <div class="grid-sizer"></div>

        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row blog-gird">
                    <div class="grid-sizer"></div>
                
                    <!-- Image Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="blog-item small-item set-bg" data-setbg="img/blog/blog-page-1.jpg" style="width: 100%; height: 100;">
                            <a  class="blog-text">
                                <div class="categories">POWER-LIFTING EVENT</div>
                                <h5>Test your power with us 2023/12/20 AT 10AM in NASR2 </h5>
                            </a>
                        </div>
                    </div>
                
                    <!-- Map Column -->
                    <div class="col-lg-4 col-md-6 grid-item">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.5051838823583!2d10.149672075647846!3d36.855269672231636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                        1!3m3!1m2!1s0x12fd33493dda1301%3A0x326a3c468858160f!2sEnnasr%202!5e1!3m2!1sfr!2stn!4v1701271489151!5m2!1sfr!2stn" 
                        width="600" height="260" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row blog-gird">
            <div class="grid-sizer"></div>

        </div>
    </div>
</section>
<!-- Blog Section End -->

        <!-- Cta Section Begin -->
        <section class="cta-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cta-text">
                            <center><h3>Register Today</h3></center>
                        </div>
                        <center><a href="#" class="primary-btn cta-btn">Participate</a></center>
                    </div>
                </div>
            </div>
        </section>
        <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Despite growth of the Internet over the past seven years, the use of toll-free phone numbers
                            in television advertising continues.</p>
                        <div class="social-links">
                            <h6>Follow us</h6>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Our Blog</h5>
                        <div class="footer-blog">
                            <a href="#" class="fb-item">
                                <h6>Most people who work</h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>Freelance Design Tricks How </h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>have a computer at home have had </h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Program</h5>
                        <ul class="workout-program">
                            <li><a href="#">Bodybuilding</a></li>
                            <li><a href="#">Running</a></li>
                            <li><a href="#">Streching</a></li>
                            <li><a href="#">Weight Loss</a></li>
                            <li><a href="#">Gym Fitness</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h5>Get Info</h5>
                        <ul class="footer-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>Phone:</span>
                                (12) 345 6789
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>Email:</span>
                                Colorlib.info@gmail.com
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Address</span>
                                Iris Watson, Box 283 8562, NY
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>

