 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gym.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1 .u-image-1 {
  width: 141px;
  height: 87px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 116px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 755px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 755px;
  font-size: 1.25rem;
  text-shadow: 2px 2px 14px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 289px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 9px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 0 0 auto;
  padding: 17px 40px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 42.47% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 78px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    padding-right: 57px;
    padding-left: 55px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 778px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 633px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 678px;
  background-image: url("images/5677.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  min-height: 69px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 678px;
  background-image: url("images/ty.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 69px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-image-3 {
  min-height: 678px;
  background-image: url("images/34.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  min-height: 69px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-group-4 {
  width: 487px;
  min-height: 623px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -673px 0 60px auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 6px 45px;
}

.u-section-2 .u-text-4 {
  font-size: 2.8125rem;
  margin: 26px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 247px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-5 {
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-7 {
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 1rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -29px 38px -24px auto;
  padding: 13px 35px 14px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 298px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 311px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 294px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3571px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1017px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 1017px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 2034px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3572px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1735px;
  }

  .u-section-2 .u-image-2 {
    min-height: 1735px;
  }

  .u-section-2 .u-image-3 {
    min-height: 1735px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2286px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1092px;
  }

  .u-section-2 .u-image-2 {
    min-height: 1092px;
  }

  .u-section-2 .u-image-3 {
    min-height: 1092px;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 619px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-3 .u-image-1 {
  width: 436px;
  height: 380px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 398px;
  height: 318px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -139px 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 559px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px 20px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 34px auto 0 0;
  padding: 17px 40px 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-3 .u-image-1 {
    width: 412px;
  }

  .u-section-3 .u-image-2 {
    height: 310px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-3 .u-image-1 {
    width: 310px;
    height: 288px;
  }

  .u-section-3 .u-image-2 {
    width: 258px;
    height: 243px;
    margin-top: -60px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 422px;
    height: 379px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -151px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 302px;
    height: 333px;
  }

  .u-section-3 .u-image-2 {
    width: 214px;
    height: 202px;
    margin-top: -144px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: url("images/erer-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 673px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 128px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 1rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 120px 265px 60px auto;
  padding: 13px 178px 14px 177px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 53px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 834px;
}

.u-section-5 .u-text-1 {
  margin: 28px auto 0 428px;
}

.u-section-5 .u-gallery-1 {
  height: 500px;
  grid-gap: 17px 17px;
  width: 1100px;
  margin: 40px auto 0 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 1rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 128px auto 29px 470px;
  padding: 13px 35px 14px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 353px;
  }

  .u-section-5 .u-gallery-1 {
    height: 653px;
    width: 940px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 270px;
  }

  .u-section-5 .u-gallery-1 {
    height: 784px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-btn-1 {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2500px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 203px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2352px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1656px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 128px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1481px;
    width: 340px;
  }
} .u-section-6 {
  background-image: url("images/7d72f0a9a03bf030cc25648b7c7bb8137d0fa92221f6c138af8ec521860f02a7fea450ae7aa0d02eb14c7845322d0ddce1f3f9dc46edfc9d9f0454_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 702px;
}

.u-section-6 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 59px 287px 0 -22px;
}

.u-section-6 .u-text-2 {
  margin: 122px 264px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 1rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 152px auto 60px 110px;
  padding: 29px 230px 30px 229px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 88px;
    margin-right: 187px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 93px;
    margin-right: 64px;
    margin-left: 200px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 117px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 64px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 174px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 318px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -117px;
    margin-left: 94px;
  }
  
}
#emir {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; /* Light gray background */
  margin: 0;
  padding: 0;
  color: #333;
}

#emir header {
  background-color: #3498db; /* Blue color for the header */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#emir h1 {
  color: #000; /* Black color for h1 */
  text-align: center;
  margin-top: 30px;
}

#emir h2 {
  color: #3498db; /* Blue color for h2 */
  text-align: center;
  margin-top: 30px;
}

#emir p, #emir label {
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

#emir p.intro {
  color: #000; /* Black color for the specified paragraph */
  font-size: 50px; /* Larger font size */
}

#emir form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#emir label {
  display: block;
  margin-bottom: 10px;
  color: #3498db; /* Blue color for the label */
}

#emir select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #3498db; /* Blue border color */
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #ecf0f1;
  color: #555;
  transition: border-color 0.3s ease;
}

#emir select:hover, select:focus {
  border-color: #2980b9; /* Darker blue on hover/focus */
}

#emir input[type="submit"] {
  background-color: #3498db; /* Blue color for the submit button */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#emir input[type="submit"]:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

#emir table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#emir th, #emir td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

#emir th {
  background-color: #3498db; /* Blue color for table header */
  color: #fff;
}

#emir img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#emir .custom-option {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: 1px solid #3498db;
      margin-bottom: 5px;
      background-color: #f9f9f9;
      transition: background-color 0.3s;
  }

  #emir  .custom-option:hover {
      background-color: #e0e0e0;
  }

  #emir .custom-option span {
      margin-bottom: 5px;
  }

  #emir  .custom-option .label {
      font-weight: bold;
      color: #3498db;
      font-size: 14px;
  }

  #emir  .custom-option .value {
      color: #333;
      font-size: 16px;
  }

  #emir  .custom-option .separator {
      color: #777;
  }
  #emir  .product-image {
  max-width: 100px; /* Ajustez la largeur maximale de l'image */
  height: auto; /* Pour maintenir les proportions de l'image */
  border: 2px solid #3498db; /* Couleur de la bordure */
  border-radius: 5px; /* Coins arrondis */
  display: block;
  margin: 0 auto; /* Centrez l'image dans la cellule */
}