body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(Enyeto_salle_slider_salle2-1080x500.webp);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #gymForm {
    width: 60%; /* Augmentation de la largeur du formulaire */
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  #gymForm table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #gymForm th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
  }
  
  #gymForm th:nth-child(odd) {
    background-color: #555;
  }
  
  #gymForm label {
    flex: 0 0 100%;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  #id,
  #productname,
  #productdescription,
  #productprice,
  #productstock {
    flex: 0 0 100%; /* Utilisation de la pleine largeur */
    padding: 8px; /* Ajustement de la taille de la police */
    margin-bottom: 10px; /* Espacement entre les champs */
    border: 1px solid #3498db;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  #id:focus,
  #productname:focus,
  #productdescription:focus,
  #productprice:focus,
  #productstock:focus {
    border-color: #e74c3c;
  }
  
  #error {
    color: red;
  }
 
  .design10{
    background-color: #e74c3c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Espacement entre les boutons */
  }
  
  #bouton,
  #saveButton:hover,
  #resetButton:hover {
    background-color: #c0392b;
  }
  button {
    background-color: #e74c3c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Espacement entre les boutons */
  }
  .erreur {
    font-size: 12px;
    margin-top: 5px; /* Espacement entre le champ de saisie et le message d'erreur */
    height: 15px; /* Hauteur minimale pour réserver de l'espace même si le message d'erreur est vide */
}

  
  
  